*{
    margin: 0%;
    padding: 0%;
}
.f-nav{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: rgb(184, 23, 58);
}
.feature{
    display: flex;
}
.feature.app{
    display: flex;
    margin-inline: 22px;
}
.feature.app i{
    margin-inline: 8px;
}

.sec-nav{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 11px;
}

.sec-nav ul li img{
    width: 8%;
    margin-left: 22px;
} 
.sec-nav ul li img a{
    margin-inline: 22px;
} 
.sec-nav .inputs{
    display: flex;
}
.sec-nav .inputs button{
   margin-inline: 22px;
}
.sec-nav .inputs input{
    width: 220px;
    background-color: rgb(205, 197, 197);
    border: none;
    text-align: center;
    font-size: 16px;
 }
 .sec-nav .inputs button{
    width:80px;
    
 }

